---
layout: base.njk
lang: en
keywords: "Desfrene, cloud, services, portal"
author: "Gabriel Desfrene"
title: "Desfrene Portal - Desfrene Family Self-Hosted Services"
metadata: "Access all the Desfrene family's self-hosted services in a few clicks!"
altLang: "Version Française"
altLink: "../"
categories:
  - name: "Services"
    links:
      - name: "Cloud"
        url: "https://ocloud.desfrene.fr"
        display: "The family hard drive!"
        icon: "icons/cloud.svg"

      - name: "Photos"
        url: "https://photo.desfrene.fr"
        display: "Our greatest memories!"
        icon: "icons/photo-film.svg"

      - name: "Cinema"
        url: "https://cinema.desfrene.fr"
        display: "Netflix at home!"
        icon: "icons/clapperboard-play.svg"

      - name: "PDF"
        url: "https://pdf.desfrene.fr"
        display: "Edit, sign, and merge PDFs"
        icon: "icons/file-pdf.svg"

      - name: "Email"
        url: "https://mail.ovh.net/roundcube/"
        display: "Check your digital mail"
        icon: "icons/envelope.svg"

  - name: "Private Services"
    links:
      - name: "Torrent Client"
        url: "http://torrent.desfrene.fr"
        display: "For downloading Linux ISOs"
        icon: "icons/share-nodes.svg"

      - name: "Internet Box"
        url: "http://box.desfrene.fr"
        display: "Please don't break it :)"
        icon: "icons/router.svg"

      - name: "DNS Server"
        url: "http://pihole.desfrene.fr"
        display: "Say no to ads!"
        icon: "icons/shield-quartered.svg"

      - name: "Downloads"
        url: "http://dl.desfrene.fr"
        display: "To grab huge files"
        icon: "icons/download.svg"

  - name: "Personal Pages"
    links:
      - name: "Gabriel Desfrene"
        url: "https://gabriel.desfrene.fr"
        display: "Gabriel Desfrene's website"
        icon: "icons/g.svg"

  - name: "Technical Services"
    links:
      - name: "Service Status"
        url: "https://status.desfrene.fr/status"
        display: "Is it broken again?"
        icon: "icons/circle-info.svg"

      - name: "Notifications"
        url: "https://ntfy.desfrene.fr"
        display: "Server goes beep beep!"
        icon: "icons/bell.svg"
---
