---
layout: base.njk
lang: fr
keywords: "Desfrene, cloud, services, portail"
author: "Gabriel Desfrene"
title: "Portail Desfrene - Services auto-hébergés de la famille Desfrene"
metadata: "Accédez à tous les services auto-hébergés de la famille Desfrene en quelques clics !"
altLang: "English version here"
altLink: "en/"
categories:
  - name: "Services"
    links:
      - name: "Cloud"
        url: "https://ocloud.desfrene.fr"
        display: "Le disque dur de la famille !"
        icon: "icons/cloud.svg"

      - name: "Photos"
        url: "https://photo.desfrene.fr"
        display: "Nos plus beaux souvenirs !"
        icon: "icons/photo-film.svg"

      - name: "Cinema"
        url: "https://cinema.desfrene.fr"
        display: "Netflix à la maison !"
        icon: "icons/clapperboard-play.svg"

      - name: "PDF"
        url: "https://pdf.desfrene.fr"
        display: "Modifier, signer et fusionner des PDF"
        icon: "icons/file-pdf.svg"

      - name: "Email"
        url: "https://mail.ovh.net/roundcube/"
        display: "Pour lire le courrier"
        icon: "icons/envelope.svg"

  - name: "Services privés"
    links:
      - name: "Client Torrent"
        url: "http://torrent.desfrene.fr"
        display: "Pour télécharger des distributions Linux"
        icon: "icons/share-nodes.svg"

      - name: "Box Internet"
        url: "http://box.desfrene.fr"
        display: "Ne rien casser STP :)"
        icon: "icons/router.svg"

      - name: "Serveur DNS"
        url: "http://pihole.desfrene.fr"
        display: "Non aux pubs !"
        icon: "icons/shield-quartered.svg"

      - name: "Téléchargement"
        url: "http://dl.desfrene.fr"
        display: "Pour récupérer de gros fichiers"
        icon: "icons/download.svg"

  - name: "Pages Personnelles"
    links:
      - name: "Gabriel Desfrene"
        url: "https://gabriel.desfrene.fr"
        display: "Site web de Gabriel Desfrene"
        icon: "icons/g.svg"

  - name: "Services techniques"
    links:
      - name: "Etat des services"
        url: "https://status.desfrene.fr/status
        display: "Ça marche plus ?"
        icon: "icons/circle-info.svg"

      - name: "Notifications"
        url: "https://ntfy.desfrene.fr"
        display: "Bip bip du serveur !"
        icon: "icons/bell.svg"

      # - name: "IDFM Explorer"
      #   url: "https://metro.desfrene.fr"
      #   display: "Explorer les "
      #   icon: "icons/train-subway.svg"
---
